<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--資料夾相關-->
    <add key="DIR_Mode" value="Model" />
    <add key="DIR_Temp" value="Temp" />
    <add key="DIR_Image" value="Image" />

    <!--檔名相關-->
    <add key="Business_data" value="BGMOPEN1." />
    <!--API相關-->
    <!--TOdo 將Key加密-->
    <add key="API-Key" value="B9G+maMddVYMeNFMV12OuBSkAf3pTA7K+2Dz1FFHZN2EYXR/IAxl/NtJjOwgSjZY" />
    <add key="ApiUatBase" value="https://opendata.cwb.gov.tw/api/v1/rest/datastore/F-C0032-001?Authorization=" />
    <add key="Api_sightseeing" value="https://gis.taiwan.net.tw/XMLReleaseALL_public/scenic_spot_C_f.json" />

    <!--資料庫相關相關-->
    <add key="DataBase" value="Registration" />
    <add key="Server" value="VIVIN" />
    
  </appSettings>


</configuration>